@font-face {
    font-family: 'icons-font';
    src: url('../fonts/icons-font/icons-font.woff?86686227') format('woff')
;
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons-font';
    src: url('../font/icons-font.svg?86686227#icons-font') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons-font";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    /*width: 1em;*/
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-path:before { content: '\e800'; } /* '' */
.icon-path-1:before { content: '\e801'; } /* '' */
.icon-path-2:before { content: '\e802'; } /* '' */
.icon-path-3:before { content: '\e803'; } /* '' */
.icon-path-4:before { content: '\e804'; } /* '' */
.icon-path-5:before { content: '\e805'; } /* '' */
.icon-path-6:before { content: '\e806'; } /* '' */
.icon-path-7:before { content: '\e807'; } /* '' */
.icon-path-8:before { content: '\e808'; } /* '' */
.icon-path-9:before { content: '\e809'; } /* '' */
.icon-path-10:before { content: '\e80a'; } /* '' */
.icon-path-12:before { content: '\e80b'; } /* '' */
.icon-path-11:before { content: '\e80c'; } /* '' */
.icon-path-13:before { content: '\e80d'; } /* '' */
.icon-path-14:before { content: '\e80e'; } /* '' */
.icon-path-15:before { content: '\e80f'; } /* '' */
.icon-path-16:before { content: '\e810'; } /* '' */
.icon-path-17:before { content: '\e811'; } /* '' */
.icon-path-18:before { content: '\e812'; } /* '' */
.icon-path-19:before { content: '\e813'; } /* '' */
.icon-path-20:before { content: '\e814'; } /* '' */
.icon-path-21:before { content: '\e815'; } /* '' */
.icon-path-22:before { content: '\e816'; } /* '' */
.icon-path-23:before { content: '\e817'; } /* '' */
.icon-path-24:before { content: '\e818'; } /* '' */
.icon-path-25:before { content: '\e819'; } /* '' */
.icon-path-26:before { content: '\e81a'; } /* '' */
.icon-path-28:before { content: '\e81b'; } /* '' */
.icon-path-27:before { content: '\e81c'; } /* '' */
.icon-path-29:before { content: '\e81d'; } /* '' */
.icon-path-30:before { content: '\e81e'; } /* '' */
.icon-path-31:before { content: '\e81f'; } /* '' */
.icon-path-32:before { content: '\e820'; } /* '' */
.icon-path-33:before { content: '\e821'; } /* '' */
.icon-path-34:before { content: '\e822'; } /* '' */
.icon-path-35:before { content: '\e823'; } /* '' */
.icon-path-36:before { content: '\e824'; } /* '' */
.icon-path-37:before { content: '\e825'; } /* '' */
.icon-path-38:before { content: '\e826'; } /* '' */
.icon-path-39:before { content: '\e827'; } /* '' */
.icon-path-40:before { content: '\e828'; } /* '' */
.icon-path-41:before { content: '\e829'; } /* '' */
.icon-path-42:before { content: '\e82a'; } /* '' */
.icon-path-43:before { content: '\e82b'; } /* '' */
.icon-path-44:before { content: '\e82c'; } /* '' */
.icon-path-45:before { content: '\e82d'; } /* '' */
.icon-path-46:before { content: '\e82e'; } /* '' */
.icon-path-47:before { content: '\e82f'; } /* '' */
.icon-path-48:before { content: '\e830'; } /* '' */
.icon-path-50:before { content: '\e831'; } /* '' */
.icon-path-49:before { content: '\e832'; } /* '' */
.icon-path-51:before { content: '\e833'; } /* '' */
.icon-path-52:before { content: '\e834'; } /* '' */
.icon-path-53:before { content: '\e835'; } /* '' */
.icon-path-54:before { content: '\e836'; } /* '' */
.icon-path-55:before { content: '\e837'; } /* '' */
.icon-path-56:before { content: '\e838'; } /* '' */
.icon-path-57:before { content: '\e839'; } /* '' */
.icon-path-58:before { content: '\e83a'; } /* '' */
.icon-path-59:before { content: '\e83b'; } /* '' */
.icon-path-60:before { content: '\e83c'; } /* '' */
.icon-path-61:before { content: '\e83d'; } /* '' */
.icon-path-62:before { content: '\e83e'; } /* '' */
.icon-path-63:before { content: '\e83f'; } /* '' */
.icon-path-64:before { content: '\e840'; } /* '' */
.icon-path-65:before { content: '\e841'; } /* '' */
.icon-path-66:before { content: '\e842'; } /* '' */
.icon-path-67:before { content: '\e843'; } /* '' */
.icon-path-68:before { content: '\e844'; } /* '' */
.icon-path-69:before { content: '\e845'; } /* '' */
.icon-path-70:before { content: '\e846'; } /* '' */
.icon-path-71:before { content: '\e847'; } /* '' */
.icon-path-72:before { content: '\e848'; } /* '' */
.icon-path-73:before { content: '\e849'; } /* '' */
.icon-path-74:before { content: '\e84a'; } /* '' */
.icon-path-75:before { content: '\e84b'; } /* '' */
.icon-path-77:before { content: '\e84c'; } /* '' */
.icon-path-76:before { content: '\e84d'; } /* '' */
.icon-path-78:before { content: '\e84e'; } /* '' */
.icon-path-79:before { content: '\e84f'; } /* '' */
.icon-path-82:before { content: '\e850'; } /* '' */
.icon-path-81:before { content: '\e851'; } /* '' */
.icon-path-80:before { content: '\e852'; } /* '' */
.icon-path-83:before { content: '\e853'; } /* '' */
.icon-path-84:before { content: '\e854'; } /* '' */
.icon-path-85:before { content: '\e855'; } /* '' */
.icon-path-86:before { content: '\e856'; } /* '' */
.icon-path-87:before { content: '\e857'; } /* '' */
.icon-path-88:before { content: '\e858'; } /* '' */
.icon-path-89:before { content: '\e859'; } /* '' */
.icon-path-90:before { content: '\e85a'; } /* '' */
.icon-path-91:before { content: '\e85b'; } /* '' */
.icon-path-92:before { content: '\e85c'; } /* '' */
.icon-path-93:before { content: '\e85d'; } /* '' */
.icon-path-95:before { content: '\e85e'; } /* '' */
.icon-path-96:before { content: '\e85f'; } /* '' */
.icon-path-94:before { content: '\e860'; } /* '' */
.icon-path-98:before { content: '\e861'; } /* '' */
.icon-path-97:before { content: '\e862'; } /* '' */
.icon-path-99:before { content: '\e863'; } /* '' */
.icon-path-100:before { content: '\e864'; } /* '' */
.icon-path-101:before { content: '\e865'; } /* '' */
.icon-path-102:before { content: '\e866'; } /* '' */
.icon-path-103:before { content: '\e867'; } /* '' */
.icon-path-104:before { content: '\e868'; } /* '' */
.icon-path-105:before { content: '\e869'; } /* '' */
.icon-path-106:before { content: '\e86a'; } /* '' */
.icon-path-107:before { content: '\e86b'; } /* '' */
.icon-path-108:before { content: '\e86c'; } /* '' */
.icon-path-109:before { content: '\e86d'; } /* '' */
.icon-path-110:before { content: '\e86e'; } /* '' */
.icon-path-111:before { content: '\e86f'; } /* '' */
.icon-path-112:before { content: '\e870'; } /* '' */
.icon-path-113:before { content: '\e871'; } /* '' */
.icon-path-114:before { content: '\e872'; } /* '' */
.icon-path-115:before { content: '\e873'; } /* '' */
.icon-path-116:before { content: '\e874'; } /* '' */
.icon-path-117:before { content: '\e875'; } /* '' */
.icon-path-118:before { content: '\e876'; } /* '' */
.icon-path-119:before { content: '\e877'; } /* '' */
.icon-path-120:before { content: '\e878'; } /* '' */
.icon-path-121:before { content: '\e879'; } /* '' */
.icon-path-122:before { content: '\e87a'; } /* '' */
.icon-path-123:before { content: '\e87b'; } /* '' */
.icon-path-124:before { content: '\e87c'; } /* '' */
.icon-path-125:before { content: '\e87d'; } /* '' */
.icon-instagram-1:before { content: '\e87e'; } /* '' */
.icon-right-open:before { content: '\e87f'; } /* '' */
.icon-star-empty:before { content: '\e880'; } /* '' */
.icon-align-left:before { content: '\e881'; } /* '' */
.icon-align-left-1:before { content: '\e882'; } /* '' */
.icon-left-open:before { content: '\e883'; } /* '' */
.icon-down-open:before { content: '\e884'; } /* '' */
.icon-up-open:before { content: '\e885'; } /* '' */
.icon-down-dir:before { content: '\e886'; } /* '' */
.icon-up-dir:before { content: '\e887'; } /* '' */
.icon-left-dir:before { content: '\e888'; } /* '' */
.icon-right-dir:before { content: '\e889'; } /* '' */
.icon-ok:before { content: '\e88a'; } /* '' */
.icon-cancel:before { content: '\e88b'; } /* '' */
.icon-cancel-1:before { content: '\e88c'; } /* '' */
.icon-path-126:before { content: '\e88d'; } /* '' */
.icon-path-127:before { content: '\e88e'; } /* '' */
.icon-path-1414:before { content: '\e88f'; } /* '' */
.icon-checkmark-verify-interface-symbol-button:before { content: '\e890'; } /* '' */
.icon-letter-x:before { content: '\e891'; } /* '' */
.icon-group-1177:before { content: '\e892'; } /* '' */
.icon-group-1134:before { content: '\e893'; } /* '' */
.icon-path-128:before { content: '\e894'; } /* '' */
.icon-star1:before { content: '\e895'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
